/*
* www.KNACSS.com V2.7 (2013-08) @author: Raphael Goetter, Alsacreations
* Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/ 
*/

/* ----------------------------- */
/* ==reset
/* ----------------------------- */
	html,
	body,
	textarea,
	figure,
	label {
		margin: 0;
		padding: 0;
	}
	code, 
	pre,
	samp,
	kbd {
		white-space: pre-wrap;
		font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
		line-height: 1em;
	}
	code, kbd, mark {
		border-radius: 2px;
	}
	em {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}
	i,
	b {
		font-style: normal;
		font-weight: normal;
	}
	kbd {
		padding: 0 2px;
		border: 1px solid #999;
	}
	code {
		padding: 2px 4px;
		background: rgba(0,0,0,.04);
		color: #b11; 
	}
	mark {
		padding:2px 4px;
		background: #ff0;
	}
	sup,
	sub {
		vertical-align: 0;
		position: relative;
	}
	sup {
		bottom: 1ex;
	}
	sub {
		top: .5ex;
	}

/* avoid top margins on first content element */
	p:first-child,
	ul:first-child,
	ol:first-child,
	dl:first-child,
	blockquote:first-child,
	pre:first-child,
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}

/* avoid margins on nested elements */
	li p,
	li ul,
	li ol {
		margin-top: 0;
		margin-bottom: 0;
	}

/* max values */
	img, table, td, blockquote, code, pre, textarea, input, video {
		max-width: 100%;
	}
/* pictures */
	img {
		height: auto;
		vertical-align: middle;
	}

	a img { border: 0; }

/* scripts */
	body > script {display: none !important;}

	.clear{
		clear:both;
	}
/* ----------------------------- */
/* ==layout and modules
/* ----------------------------- */

/* switching box model for all elements */
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

/* ----------------------------- */
/* ==forms
/* ----------------------------- */
	form,
	fieldset {
		border: none;
	}
	input,
	button,
	select,
	label,
	.btn {
		vertical-align: middle; /* @bugfix alignment */
		font-family: inherit;
		font-size: inherit;
	}
	textarea {
		resize: vertical;
		font-family: inherit;
		font-size: inherit;
	}

/* ----------------------------- */
/* ==tables
/* ----------------------------- */
	table {
		max-width : 100%;
		table-layout: fixed;
		border-collapse: collapse;
		vertical-align: top;
	}
	table {
		width: 100%;
	}
	caption {
		padding: 10px;
		color: #555;
		font-style: italic;	
	}
	table { 
		border: 0px none;
	}
	tr > * + * {
		border: 0px none;
	}
	th,
	td {
		padding: .3em .8em;
		text-align: left;
		border: 0px none;
	}

/* ----------------------------- */
/* ==forms
/* ----------------------------- */
/* buttons */
	.btn { display: inline-block; }

/* forms items */
	label { 
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	legend {
		border: 0;
		white-space: normal;
	}
	button,
	input,
	select {
		border-radius: 2px;
	}
	input{
		margin: 0px 2px;
		padding: 2px 5px;
		border: 1px solid rgb(220, 220, 220);
	}
	textarea {
		overflow: auto;
		min-height: 5em;
		vertical-align: top;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		cursor: pointer;
		-webkit-appearance: button;
		*overflow: visible;
	}
	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
		*width: 13px; *height: 13px;
	}
	input[type="search"] { -webkit-appearance: textfield; }

/* Removes inner padding and border in FF3+ */
	button::-moz-focus-inner,
	input[type='button']::-moz-focus-inner,
	input[type='reset']::-moz-focus-inner,
	input[type='submit']::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
/* orientation iOS font-size fix */
	@media (orientation: landscape) and (max-device-width: 768px) {
		html,
		body {
			-webkit-text-size-adjust: 100%;
		}
	}
