.articleContent h1 {
	font-size:1.8em;
}
.articleContent h2 {
	font-size:1.5em;
}
.articleContent h3 {
	font-size:1.3em;
}
.articleContent h4 {
	font-size:1.2em;
}
.articleContent h5 {
	font-size:1.1em;
}
.articleContent h6 {
	font-size:1em;
}