/* ----------------------------- */
/* ==reset */
/* ----------------------------- */
/* Reset buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border:none;
	background:none;
	cursor:pointer;
	-webkit-appearance:button;
	*overflow:visible;
}
a,
.link,
.asidesettingsbloc li {
	text-decoration:none;
	color:#15C;
	cursor:pointer;
}
html {
	font-size:62.5%;
}
html,
body,
input {
	font-family:arial,sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-size:1.5em;
	line-height:1.3;
	color:#222;
	/*background-color:#FFF;*/
    background-color:#dcdcdc;
}
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
textarea {
	margin:21px 0;
	font-size:1em;
	line-height:1.5em;
}
h1 {
	margin:42px 0 21px 0;
	font-size:1.7em;
	font-weight:normal;
}
h2 {
	margin:42px 0 21px 0;
	font-size:1.6em;
	font-weight:normal;
}
h3 {
	margin:42px 0 21px 0;
	font-size:1.4em;
	font-weight:normal;
}
/* soft reset */
html,
body,
label {
	margin:0;
	padding:0;
}
ul,
ol{
	padding-left:5px;
}
code,
pre,
samp {
	font-family:consolas,'DejaVu Sans Mono',courier,monospace;
	white-space:pre-wrap;
}
code {
	line-height:1em;
}
table {
	margin-bottom:21px;
}
/* avoid collapsing margins on headings */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top:0;
}
/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top:0;
	margin-bottom:0;
}
/* HTML5 tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display:block;
}
/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
object,
video {
	height:auto;
	max-width:100%;
}
/* pictures */
img {
	width:auto;
	vertical-align:middle;
}
a img {
	border:0;
}
iframe {
	margin:0;
	border:0;
}
.idFrameSynchro {
	height:100%;
}
/* ----------------------------- */
/* ==layout and modules */
/* ----------------------------- */
/* switching box model for all elements */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.left {
	float:left;
	margin-right:4px;
}
.w300p {
	width:300px;
}
.hidden {
	display:none;
}
/* ----------------------------- */
/* ==header */
/* ----------------------------- */
header>button {
	float:right;
}
h1.logo{margin-top: -4px;}
header.toper {
	z-index:985;
	position:absolute;
	top:0;
	width:100%;
	height:43px;
	padding:4px;
	background-color:#F1F1F1;
}
.loginBloc {
	float:right;
	margin-top:1px;
}
.loginBloc input {
	margin-top:4px;
	width: 150px;
}
.formulco input{
	height: 30px;
	margin-top: 0px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
}
.deco {
	width: 110px;
	margin-right:9px;
}
nav {
	float:left;
}
header img.icon {
	float:left;
	margin-right:5px;
	margin-left:5px;
}
/* ----------------------------- */
/* ==sidebar */
/* ----------------------------- */
aside.left {
	margin-top:43px;
	margin-right: 0px;
}
aside ul {
	margin:0;
	list-style:none;
}
header.topaside {
	margin: 0px;
	color: #6A6A6A;
	background-color: #DCDCDC;
	height: 35px;
	line-height: 35px;
}
button.allread {
	width:100%;
	margin: 0px;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.asidesettingsbloc li {
	padding-right:5px;
}
.flux,
.asidesettingsbloc li {
	width:100%;
	overflow:hidden;
	background-color:#dcdcdc;
    border-bottom: 1px dotted #bcbcbc;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
li.flux>ul {
	display:inline-block;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
	text-indent:none;
	font-size:.9em;
	background-color:#bcbcbc;
}
li.flux>ul a {
	margin-left: 24px;
	max-width:200px;
	white-space:nowrap;
}
ul.dossier {
		padding: 0px;
	}
.fade{
	margin-right:2px;
	font-size: .9em;
	border:none;
	color:#666;
	cursor:pointer;
	float:right;
	padding: 0px;
}
.marquerlu {
	margin-top:33px;
}
.readFolder {
	display:block;
	float:left;
	width:24px;
	height:24px;
	margin-right:4px;
	text-align:center;
	font-size:2em;
	line-height:22px;
	color:#E5E5E5;
	background:#666;
	cursor:pointer;
}
.readFolder:hover,
.readFolder:active {
	color:#666;
	background:#E5E5E5;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/* ----------------------------- */
/* ==main */
/* ----------------------------- */
a.goTopButton {
	font-size:3em;
}
button.lunonlu {
	width: 110px;
	float:right;
	margin:-6px;
    border-radius: 0px 2px 0px 0px;
    -webkit-border-radius: 0px 2px 0px 0px;
}
.content{
	padding:51px 7px 7px 7px;
	overflow:hidden;
    min-height: calc(100% - 25px);
	min-height: -webkit-calc(100% - 25px);
    background-color:#FFF;
}
section.article h1{
	margin: 1em 0em 0em 0em;
}
section.article,
.table-section-style {
	margin-bottom:5px;
	padding:5px;
	border:1px solid #E5E5E5;
	border-radius:2px;
	-webkit-border-radius:2px;
}
section.article ul, section.article ol{
	padding-left: 20px;
}
section.article.digest {
	margin-bottom:-1px;
	padding:5px 5px 0 5px;
	border:1px solid #E5E5E5;
	line-height:1.4em;
}
section.article.digest h2 {
	font-size:1.3em;
}
.eventRead {
	background-color:#E5E5E5;
}
section>h2 {
	margin:0;
	padding:0;
	color:#15C;
}
section>h3 {
	margin:0 0 20px;
	padding:0;
	font-size:.9em;
	color:#666;
}
#exportBloc,#importBloc,#bookBloc,#preferenceBloc,#synchronizeBloc,#pluginBloc{
	display:none;
}
ul.gestflux {
	list-style:none;
}
h3.buttonsbis {
	margin-bottom:52px;
}
#menuSettings {
	position:fixed;
	width:291px;
}
.articleHead{
	color: #6A6A6A!important;
	border: none!important;
	font-weight: bold!important;
	padding: 1px;
	text-align: center;
	font-size: .9em;
	margin-left: 9px;

}
.articleHead a:first-child{
	color:#6A6A6A!important;
}
.articleHead > *{
	margin: 0px;
}
#pagination{
	margin:10px 0px 3px -2px;
	text-align: center;
}
/* ----------------------------- */
/* ==footer */
/* ----------------------------- */
footer > *{
	margin: 0px;
}
footer{
	text-align: center;
	width: 100%;
	padding:3px;
	padding-right: 0px;
	background-color:#F1F1F1;
	font-size: .8em;
	clear:both;
}
footer ul{
	list-style: none;
}
a.page {
	margin-right:2px;
	margin-left:2px;
	padding:8px 12px 7px;
	border-radius:2px;
	font-size:13px;
	font-weight:bold;
}
/* ----------------------------- */
/* ==forms */
/* ----------------------------- */
form,
fieldset {
	border:none;
}
input,
button,
select {
	padding:2px;
	border:1px solid #DCDCDC;
	vertical-align:middle;
}
a.red,a.grey,a.page:not{
	display: block;
	text-align: center;
}
.red {
	height:35px;
	line-height: 35px;
	padding:0 8px;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	font-weight:bold;
	color:#FFF;
	background-color:#D14836;
	cursor:pointer;
}
.red:hover,
.red:active {
	background-color:#C03927;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.grey {
	height:35px;
	line-height:35px;
	border:none;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	text-align:center;
	font-weight:bold;
	list-style:none;
	color:#444;
	background-color:#DCDCDC;
	cursor:pointer;
}
.grey:hover,
.grey:active,
.grey-h {
	background-color:#bcbcbc;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/*pour les boutons non cliquables*/
.grey-h {
	cursor:default;
}
.buttons-article {
	float:right;
	width:83px;
	margin-left:8px;
	padding:1px 3px;
}

.favs{
	font-size: 1.5em;
	height: 35px;
    width:35px;
	margin: -6px 6px 0px 0px;
	float:right;
	line-height: 33px!important;
	border-radius: 0px 0px 0px 2px; 
	-webkit-border-radius: 0px 0px 0px 2px;
}
.favorised,.favorised:hover{
	color:white;
	border-color:#ffd200;
	background-color:#ffd200;
}

/* ----------------------------- */
/* ==print */
/* ----------------------------- */
@media print {
	p,
	blockquote {
		orphans:2;
		widows:2;
	}
	blockquote,
	ul,
	ol {
		page-break-inside:avoid;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after:avoid;
	}
}
/* ----------------------------- */
/* ==mobile */
/* ----------------------------- */
@media(max-width:850px) {
	aside.left {
		float:none;
	}
	.w300p {
		width:100%;
		padding-right:10px;
	}
	.content{
        padding: 5px 0px;
	}
	.settingsBloc {
		margin-top:178px;
	}
	.settingsBloc .red{
		height:24px;
	}
	#menuSettings {
		width:calc(100% - 15px);
		width:-webkit-calc(100% - 15px);
	}
	#pagination{
	margin:10px 0px 3px -2px;
	position: relative;
	bottom: 0px;
	}
	footer{
	text-align: center;
	border: none;
	border-top:1px solid #e5e5e5;
	width:100%;
	position: relative;
	margin:0px;
	}
	footer ul{list-style: none;}
	footer#notLogged{
	position: absolute;
	bottom:0px;
	}
	aside.left {
		display: table;
		padding-right: 0;
	}
	div#entete_article section:first-child {
		margin-top: 10px;
		margin-right: 10px;
	}
	body {
		overflow-x: hidden;
	}
}

@media(max-width:500px) {
	div.loginBloc {
		float: none;
		margin: auto;
		text-align: center;
	}
	.formulco > input, .formulco > button{
		width: 100%;
		margin-top: 5px;
	}
	div.loginBloc input.left {
		float: none;
	}
	h1.logo {
		float: none;
		text-align: center;
		margin-top: 5px;
	}
	header.toper {
		height: auto;
	}
	aside.w300p {
		margin-top: 107px;
	}
}

/* orientation iOS font-size fix */
@media(orientation:landscape)and(max-device-width:640px) {
	html,
	body {
		-webkit-text-size-adjust:100%;
	}
}

/*Synchronisation */
.errorSync{
	background-color:#D14836;
	color:#ffffff;
	padding:5px;
	border-radius:5px;
	margin:10px 0px 10px 0px;
	box-shadow: 0 0 3px 0 #810000;
}

.sync{
	padding-left:10px;
}

/*Settings - underlink span */
.underlink{
	font-size:9px;
	color:#222222;
	display:block;
	line-height: 9px;
	margin-bottom: 10px;
}
