/*
 * Note on minification :
 * ======================
 * When you edit this file, you must run the pre-commit hook in .hook dir to regenerate a minified version of the script.
 */

/* -----------------------------*/
/* ==Style
/* -----------------------------*/
/*base*/
	html {
		font-size: 62.5%;
	}
	body {
		background-color: #F1F1F1;
		color: #222;
		font-family: helvetica, arial, sans-serif;
		font-size: 1.4em;
		line-height: 1.5;
	}

	p,
	ul,
	ol,
	dl,
	blockquote,
	pre,
	td,
	th,
	label,
	textarea,
	caption,
	details,
	figure {
		font-size: 1em;
		line-height: 1.5;
		margin: .75em 0 0;
	}
	select{
		border: none;
		padding: 4px;
	}
	ul, ol {
		padding-left: 0;
    	}
	main ul, main ol {
		padding-left: 2em;
    	}
	div, textarea, table, td, th, code, pre, samp {
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;
	}
	.clear {
		clear: both;
	}
	h1 {
		font-size: 2em;
		line-height: 1.7em;
		margin: .8077em 0 0 0;
	}
		.articleContent h1 {
			font-size: 1.8em;
		}
		.enclosure h1 {
			margin-top:1.2em;
			font-size: 1.2em;
		}

	h2 {
		font-size: 1.8em;
		line-height: 1.5em;
		margin: .875em 0 0 0;
	}
		.articleContent h2 {
			font-size: 1.5em;
		}
	h3 {
		font-size: 1.5em;
		line-height: 1.3em;
		margin: .9545em 0 0 0;
	}
		.articleContent h3 {
			font-size: 1.3em;
		}

	h4 {
		font-size: 1.3em;
		line-height: 1.2em;
		margin: 1.05em 0 0 0;
	}
		.articleContent h4 {
			font-size: 1.2em;
		}

	h5 {
		font-size: 1.2em;
		line-height: 1.1em;
		margin: 1.1667em 0 0 0;
	}
		.articleContent h5 {
			font-size: 1.1em;
		}

	h6 {
		font-size: 1em;
		line-height: 1.1em;
		margin:  1.3125em 0 0 0;
	}
		.articleContent h6 {
			font-size: 1em;
		}
/*Repeat this !*/
	a.FoldFolder, aside li a.fade,
	#menuSettings li{
		cursor: pointer;
	}
	aside ul a,
	aside ul a:hover,
	#menuSettings li,
	#menuSettings li:hover,
	.btn,
	.btn:hover{
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}
/*links*/
	a, #menuSettings li{
		text-decoration:none;
		color:#15C;
	}
/*buttons*/
	button,
	.btn {
		border:0px none;
		border-radius:2px;
		height: 35px;
		line-height: 35px;
		font-weight: bold;
		padding: 0px 8px;
		text-align: center;
	}	
	.square{
		width: 35px;
	}
	.red {
		background:#d14836;
		color:#fff;
	}
	.red:hover, .red:active {
		background:#C03927;
	}
	.grey {
		background:#dcdcdc;
		color:#444;
	}
	.grey:hover, .grey:active {
		background:#bcbcbc;
	}
	.yellow{
		background: #FFD200;
		color: #FFF
	}
	.blue{
		background: #15C;
		color: #FFF
	}
	.green{
		background: #4ead48;
		color: #FFF;
	}

	.fade{
		color: #6A6A6A;
	}
/*Backtop*/
	#backtop{
		cursor: pointer;
		position: fixed;
		bottom: 50px;
		left: 120px;
		height: 60px;
		width: 60px;
		font-size: 6em;
		color: #F1F1F1;
		text-align: center;
		-webkit-border-radius: 30px;
		border-radius: 30px;
		background-color: #D14836;
	}
	#backtop > a{
		color: white;
		display: block;
	}

/* -----------------------------*/
/* ==Layout
/* -----------------------------*/
	#flex{
		display : flex;
	}	
/*Connect*/
	#connect form > input,
	#connect button,
	#connect label {
		width: 100%;
		margin: .5rem 0;
	}
	#connect form > input{
		height: 35px;
		border: none;
	}
	#connect form{
		padding: 1rem;
		border-radius: 2px;
		background-color: #dcdcdc;
	}
	#connect [type="checkbox"]{
		margin-right: 1rem;
	}
	#connect.insidebar form {
		width:100%;
		margin: 3px 0px;
	}
	#connect.inmain {
		width: 75%;
		margin: 0 auto;
		text-align: center;
	}
	#connect.inmain form{
		margin: 2rem auto;
		max-width: 250px;
	}

/*Sidebar*/		
	aside {
		flex:0 300px;
		padding-left: 5px;
	}
	aside h1{
		text-align: center;
	}
	nav td{
		text-align: center;
	}
	nav td a{
		cursor:pointer;
		display:block;
	}
	nav img{
	}
	#breadcrumb{
		text-align: center;
		font-weight: bold;
		width: 100%;
		height: 35px;
		line-height: 35px;
	}
	aside > button.red {
		width: 100%;
	}
	aside ul{
		list-style:none;
	}
	aside > ul > li:hover{
		background-color: #6A6A6A;
		border-radius: 2px;
	}
	aside > ul > li:hover > a{
		color: #FFF;
	}
	
	aside li > ul {
		padding:5px;
		border-radius:0px 0px 2px 2px;
		background-color: #CDCDCD;
	}
	ul .fade{
		float: right;
		padding-right: 2px;
	}
	a.FoldFolder{
		color:#6A6A6A;
		font-size:1.2em;
		padding-left: 2px;
	}
/*Settings*/
	#menuSettings li{
		padding:5px 20px;
	}
	#menuSettings a{
		display: block;
	}
	#menuSettings li:hover{
		background-color: #6A6A6A;
		border-radius: 2px;
	}

	#importexportBloc,#bookBloc,#preferenceBloc,#synchronizeBloc,#pluginBloc,#greederprefBloc{
		display:none;
	}
	.settingsPage{
		background-color: #FFF;
		margin: 5px;
		padding-top: 3px;
	}
	.settingsPage article{
		border-style: dashed;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-radius: 0px;
		margin: 5px 0px 0px 0px;
		padding: 10px;
	}
	#loopFoldersSettings{
		list-style: none;
		padding-left: 0px;
	}
	#loopFoldersSettings td.shorten{
		white-space: nowrap;
		overflow: hidden;
	}
		/*td's*/
		.loopFoldersSettingsName{
			white-space: nowrap;
			overflow: hidden;
		}
			.loopFoldersSettingsName a{
				display: inline;
			}
		.loopFoldersSettingsSelect{
			width: 25%;
		}
			.loopFoldersSettingsSelect select{
				width: 100%;
				min-width: 100px;
			}
		.loopFoldersSettingsButtons{
			width: 205px;
			text-align: right;
		}
	#addModifyFeeds  button {
		float: right;
	}
	#addModifyFeeds input,
	#addModifyFeeds select{
		width: 98%;
	}
/*syncIframe*/
	article iframe{
		border: none;
		width: 100%;
	}
	.errorSync{
		background-color:#D14836;
		color:#fff;
		padding:5px;
		-webkit-border-radius:2px;
		border-radius:2px;
		margin:10px 5px 10px 0px;
	}
	iframe {
		margin:0;
		border:0;
	}
	#idFrameSynchro, #idFrame {
		width: 100%;
	}

/*Articles*/
	main {
		flex:3;
		overflow:hidden;
	}
	article,
	.settingsPage {
		margin:5px;
		background:#FFF;
		border: 1px solid #e5e5e5;
		border-radius:2px;
	}
	.eventRead{
		background-color: #CDCDCD;
		border-color: #CDCDCD;
	}
	.articleContent{
		padding: 5px;
	}
	article.feedArticle > h1, article.feedArticle > h2{
		margin: 0px;
		padding: 5px;
	}
	article.feedArticle > h1{
		font-size: 1.6em;
	}
	article.feedArticle > h2{
		margin-top: -15px;
		font-weight: normal;
		font-style: italic;
		font-size: .9em;
	}
	article.feedArticle nav{
		margin: 3px;
		float:right;
	}
	#load_more {
		display: none;
	}
/*Navbar Articles*/
	.favs{
		font-size: 1.5em;
		margin: 0px;
		background-color: #6A6A6A;
		color: #fff;
	}
	.favorised .favs{
		background-color: #FFD200;
		color: #FFF;
	}
	.favorised .star{
		color: #FFD200;
	}
/*Footer*/
	footer{
		text-align: center;
	}

	@media (min-width: 1280px) {	/*desktop*/
		
	}

	@media (max-width: 850px) {		/*tablet*/
		#flex{
			display:inherit;
		}
		aside{
			flex:none;
			width:100%;
		}
		main{
			flex:none;
		}
	}

	@media (max-width: 640px) {		/*smartphone*/
		main table,
		main tbody {
			display: block;
		}
		main tr {
			display: table;
			width: 100%;
		}
		main td {
			display: table-row;
		}
		main td > *{
			margin: .5rem
		}
	}
