/* ----------------------------- */
/* ==reset */
/* ----------------------------- */
	/*base styles*/
		html {
			font-size:62.5%;
		}
		html,
		body,
		input {
			font-family:arial,sans-serif;
		}
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		body {
			font-size:1.5em;
			line-height:1.3;
			color:#222;
		}
		body#leed{
			background: #F1F1F1;
		}
		a, .asidesettingsbloc li {
			text-decoration:none;
			color:#15C;
			cursor:pointer;
		}
		p,
		ul,
		ol,
		dl,
		blockquote,
		pre,
		td,
		th,
		textarea {
			margin:21px 0;
			font-size:1em;
			line-height:1.5em;
		}
		h1 {
			margin:42px 0 21px 0;
			font-size:1.7em;
			font-weight:normal;
		}
		h2 {
			margin:42px 0 21px 0;
			font-size:1.6em;
			font-weight:normal;
		}
		h3 {
			margin:42px 0 21px 0;
			font-size:1.4em;
			font-weight:normal;
		}
	/* soft reset */
		html,
		body,
		label {
			margin:0;
			padding:0;
		}
		ul,
		ol{
			padding-left:5px;
		}
		code,
		pre,
		samp {
			font-family:consolas,'DejaVu Sans Mono',courier,monospace;
			white-space:pre-wrap;
		}
		code {
			line-height:1em;
		}
		table {
			margin-bottom:21px;
			border: 0px;
		}
		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child,
		h6:first-child {
			margin-top:0;
		}
		li p,
		li ul,
		li ol {
			margin-top:0;
			margin-bottom:0;
		}
		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		nav,
		section {
			display:block;
		}
		img,
		table,
		td,
		blockquote,
		code,
		pre,
		textarea,
		input,
		object,
		video {
			height:auto;
			max-width:100%;
		}
		img {
			width:auto;
			vertical-align:middle;
		}
		a img {
			border:0;
		}
		iframe {
			margin:0;
			border:0;
        }
        #idFrameSynchro, #idFrame {
            width: 100%;
		}
/* ----------------------------- */
/* ==layout and modules */
/* ----------------------------- */
	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.left {
		float:left;
	}
	.hidden {
		display:none;
	}
	.clear{clear: both;}
	table {
		width: 100%;
		margin: 0;
	}
	table .tabledescflux{
		width: 75%;
	}
	#importexportBloc,#bookBloc,#preferenceBloc,#synchronizeBloc,#pluginBloc,#greederprefBloc{
		display:none;
	}
	/*animations*/
	#menuSettings li,
	.eventRead button.lunonlu,
	.red:hover,.red:active,
	.grey:hover,.grey:active,
	.grey-h
	 {
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
/* ----------------------------- */
/* ==connection */
/* ----------------------------- */
	#notlogged{
		text-align: center;
		background: white;
	}
	.formulco{
		background-color: #F1F1F1;
		padding: 5px 10px 10px 10px;
		max-width: 250px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid #DCDCDC;
		margin: 10px auto;
	}
	.formulco input, .formulco button{
		width: 100%;
		height: 30px;
		line-height: 30px;
		margin-top: 5px;
		-webkit-border-radius: 2px;
		border-radius: 2px; 
	}
	#connectpublic{
		border: 0px;
		max-width: 100%;
		margin: 10px;
	}
/* ----------------------------- */
/* ==sidebar */
/* ----------------------------- */
	/*generals*/
		#sidebar {
			width:300px;
			background-color: rgb(241, 241, 241);
		}
		#sidebar ul {
			margin:0;
			list-style:none;
		}
	/*header*/
		#logo{
			text-align: center;
			height: 35px;
			margin-bottom: 10px;
		}
		#icons{
			width: 100%;
			margin: 0px;
		}
		#icons th{
			width: 20%;
			text-align: center;
		}
	/*unread elements*/
		#numelem {
			text-align: center;
			margin: 0px;
			line-height: 35px;
			color: #6A6A6A;
			font-weight: bold!important;
		}
		#numelem a:first-child{
			color:#6A6A6A!important;
		}
		/*mark all as read */
		#allread {
			width:96%;
			margin: 2%;
		}

	/*flux*/
		.flux,
		.asidesettingsbloc li {
			margin-top: 5px;
			width:100%;
			overflow:hidden;
			-o-text-overflow:ellipsis;
			text-overflow:ellipsis;
		}
		li.flux>ul {
			display:inline-block;
			width:100%;
			padding-top:2px;
			padding-bottom:2px;
			text-indent:0;
			font-size:.9em;
			background-color:#dcdcdc;
		}
		li.flux>ul a {
			margin-left: 24px;
			max-width:200px;
			white-space:nowrap;
		}
		ul.dossier {
			padding: 0px;
		}
		.fade{
			margin-right:2px;
			font-size: .9em;
			border:none;
			color:#666;
			cursor:pointer;
			float:right;
			padding: 0px;
		}
        .pointer {
            cursor: pointer;
        }
		.readFolder {
			display:block;
			float:left;
			width:24px;
			height:24px;
			margin-right:4px;
			text-align:center;
			font-size:2em;
			line-height:22px;
			color:#666;
			cursor:pointer;
		}
		h1#oneFeedTitle{
			margin: 5px 0px 0px 0px;
			font-weight: bold;
		}
	/*settings*/
		.buttonw93{
			width: 93px;
		}
		.asidesettingsbloc li {
			padding-left:5px;
		}
		ul#menuSettings{
			margin-left: 6px;
		}
		#menuSettings li{
			padding:5px 20px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
		#menuSettings li:hover{
			background: #6A6A6A;
			color:#F1F1F1;
		}
/* ----------------------------- */
/* ==content */
/* ----------------------------- */
	/*actions and reading statuts*/
		button.lunonlu {
			width: 110px;
			float:right;
			margin:-5px -5px -6px -6px;
			-webkit-border-radius: 0px 2px 0px 0px;
			border-radius: 0px 2px 0px 0px;
		}
		.eventRead button.lunonlu {
			background-color: #646464;
		}
		.eventRead {
			background-color:#F1F1F1;
			border: 1px solid #F1F1F1;
		}
		#secondButtonsBar{
			margin-bottom: -13px;
		}
		#secondButtonsBar .favs{
			-webkit-border-radius: 2px 0px 0px 0px;
			border-radius: 2px 0px 0px 0px;
		}
		#secondButtonsBar .lunonlu{
			-webkit-border-radius: 0px 0px 2px 0px;
			border-radius: 0px 0px 2px 0px;
		}
	/*text*/
		.content{
			padding:7px 7px 7px 2px;
			overflow:hidden;
			min-height: calc(100% - 25px);
			min-height: -webkit-calc(100% - 25px);
		}
        section.content #loader {
            display: none;
        }
        .settingsBloc {
            padding: 0;
        }
        .settingsBloc>section {
            padding: 7px;
        }
		article.article h1,
		.about .article h1{
			margin: 1em 0em 0em 0em;
		}
		.settingsBloc article.article h1{
			margin: 0em;
		}
		article.article,
		.about .article,
		.table-section-style {
			margin-bottom:5px;
			padding:5px;
			border:1px solid #E5E5E5;
			-webkit-border-radius:2px;
			border-radius:2px;
     		background:white;
		}
		article.article ul,
		article.article ol,
		.about .article ul,
		.about .article ol
		{
            padding: auto;
			padding-left: 20px;
		}
		article.article.digest,
		.about .article.digest {
			margin-bottom:-1px;
			padding:5px 5px 0 5px;
			border:1px solid #E5E5E5;
			line-height:1.4em;
		}
		article.article.digest h2,
		.about .article.digest h2 {
			font-size:1.3em;
		}
        article.scroll {
            display: none;
        }
        aside.about {
            padding: 5px;
        }
        aside.about ul {
            padding-left: 5px !important;
        }
        aside.about li {
            width: 100%;
            overflow: hidden;
            margin-top: 5px;
        }
        aside.about h3 {
            font-size: 1.4em !important;
        }
		article>h2,
		.about .article>h2 {
			margin:0;
			padding:0;
			color:#15C;
		}
		article>h3,
		.about .article>h3 {
			margin:0 0 20px;
			padding:0;
			font-size:.9em;
			color:#666;
		}
		h3.buttonsbis {
			margin-bottom:52px;
		}
	/*settings*/
		.errorSync{
			background-color:#D14836;
			color:#fff;
			padding:5px;
			-webkit-border-radius:2px;
			border-radius:2px;
			margin:10px 5px 10px 0px;
		}
		.sync{
			padding-left:10px;
		}
		.underlink{
			font-size:9px;
			color:#222;
			display:block;
			line-height: 9px;
			margin-bottom: 10px;
		}
		.asidesettingsbloc ul,
		.settingsBloc ul {
			list-style-type: none;
			padding-left: 0px !important;
		}
		#preferenceBloc h3 {
            font-size: 1.3em;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        .note {
            color: #666;
            font-size: 10px;
        }
        .articleView {
            margin-top: 5px;
        }
        #greederprefBloc button {
            width: 5em;
        }
	/*back to top*/
		#backtop{
			cursor: pointer;
			position: fixed;
			bottom: 50px;
			left: 120px;
			height: 60px;
			width: 60px;
			font-size: 6em;
			color: #F1F1F1;
			text-align: center;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			background-color: #D14836;
		}
		#backtop > a{
			color: white;
			display: block;
		}
    /*load more button*/
        #load_more {
        	margin:25px 0px 25px 300px;
		text-align: center;
		overflow: hidden;
        }

/* ----------------------------- */
/* ==footer */
/* ----------------------------- */
	/*pagination*/	
		#pagination{
			margin:10px 0px 3px -2px;
			text-align: center;
		}
		a.page {
			margin-right:2px;
			margin-left:2px;
			padding:8px 12px 7px;
			-webkit-border-radius: 2px;
			border-radius:2px;
			font-size:13px;
			font-weight:bold;
		}
	/*credits*/
		footer > *{
			margin: 0px;
		}
		footer{
			text-align: center;
			width: 100%;
			padding:3px;
			padding-right: 0px;
			background-color:#F1F1F1;
			font-size: .8em;
			clear:both;
		}
		footer ul{
			list-style: none;
		}

/* ----------------------------- */
/* ==forms + buttons */
/* ----------------------------- */
	/*forms*/
		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			border:none;
			background:none;
			cursor:pointer;
			-webkit-appearance:button;
			overflow:visible;
		}
		form,
		fieldset {
			border:none;
		}
		input,
		button,
		select {
			padding:2px;
			border:1px solid #DCDCDC;
			vertical-align:middle;
		}
        #preferenceBloc fieldset {
            border:1px solid rgb(204, 204, 204);
        }
        #preferenceBloc legend {
            padding: 5px;
        }
	/*buttons*/
		a.red,a.grey,:not(a.page){
			display: block;
			text-align: center;
		}
		.red {
			height:35px;
			line-height: 35px;
			padding:0 8px;
			border: none;
			-webkit-border-radius: 2px;
			border-radius: 2px; 
			font-weight:bold;
			color:#FFF;
			background-color:#D14836;
			cursor:pointer;
		}
		.red:hover,
		.red:active {
			background-color:#C03927;
		}
		.grey {
			height:35px;
			line-height:35px;
			border:none;
			-webkit-border-radius: 2px;
			border-radius: 2px; 
			text-align:center;
			font-weight:bold;
			list-style:none;
			color:#444;
			background-color:#DCDCDC;
			cursor:pointer;
		}
		.grey:hover,
		.grey:active,
		.grey-h {
			background-color:#bcbcbc;
		}
		.favs{
			font-size: 1.5em;
			height: 35px;
			width:35px;
			margin: -5px 5px 0px 0px;
			float:right;
			line-height: 33px!important;
			-webkit-border-radius: 0px 0px 0px 2px;
			border-radius: 0px 0px 0px 2px; 
			color:#6A6A6A;
			background-color:#F1F1F1;
		}
		.favorised .favs{
			color:white;
			border-color:#ffd200;
			background-color:#ffd200;
		}
		.star{
			color: #6A6A6A;
		}
		.favorised .star{
			color: #ffd200;
		}
        .disabled_button, .disabled_button:hover, .disabled_button:active {
            background-color: grey;
            cursor: not-allowed;
        }
		/*non actives*/
			.grey-h {
				cursor:default;
			}

/* ----------------------------- */
/* ==mobile */
/* ----------------------------- */
	/*mobile + small screens*/
		@media(max-width:850px) {
			body{
				overflow-x: hidden;
			}
			#sidebar {
				float:none;
				width:100%;
				padding-right:10px;
			}
			#sidebar {
				display: table;
				padding-right: 0;
			}
			.content{
				padding: 5px 0px;
			}
			button.lunonlu {
				width: 110px;
				float:right;
				margin:-6px;
				-webkit-border-radius: 0px;
				border-radius: 0px;
			}
			#pagination{
				margin:10px 0px 3px -2px;
				position: relative;
				bottom: 0px;
			}
			footer{
				text-align: center;
				border: none;
				border-top:1px solid #e5e5e5;
				width:100%;
				margin:0px;
			}
			footer#notLogged{
				position: absolute;
				bottom:0px;
			}
			
			div#entete_article section:first-child {
				margin-top: 10px;
				margin-right: 10px;
			}
			table .tabledescflux{
				width: 75%;
			}
			#load_more{
				margin:25px 0px;
			}
		/*back to top*/
			#backtop{
				left:auto;
				bottom: -60px;
				right: -60px;
				height: 120px;
				width: 120px;
				padding: 10px 0px 10px 15px;
				text-align: left;
				-webkit-border-radius: 60px;
				border-radius: 60px;
			}
		}
	/*adaptive conexion forms*/
		@media(max-width:500px) {
			.formulco {
				max-width: 100%;
				margin: 10px;
			}
		}
	/* orientation iOS font-size fix */
	@media(orientation:landscape)and(max-device-width:640px) {
		html,
		body {
			-webkit-text-size-adjust:100%;
		}
	}
